<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
author:寇笑宇
create time:7/11
update time:7/11
-->
<mapper namespace="com.ssm.mapper.UserMapper">
    <!--测试数据库连接-->
    <select id="selUser" resultType="com.ssm.pojo.User">
        select * from user where username='admin';
    </select>
    <!--添加用户-->
    <insert id="addUser" parameterType="com.ssm.pojo.User" >
        insert into user (username, password)
        values (#{username},#{password});
    </insert>
    <!--查询用户-->
    <select id="getUserByUsername" resultType="com.ssm.pojo.User">
        select * from user where username = #{username};
    </select>
    <!--修改用户密码-->
    <update id="updateUser" parameterType="com.ssm.pojo.User">
        update user set username =#{username},password=#{password}
        where username = #{username};
    </update>

</mapper>